header {
    background: #1f2937;
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.headerlogo {
    font-size: 24px;
    color: #f9faf8;
    padding: 8px;
    /*  font-weight: bold; */
    /* font-family: 'Roboto-extra-bold';*/
}

.headernav {
    display: flex;
    justify-content: space-between;
    width: 450px;
    font-size: 18px;
    padding-top: 10px;
}

.headerlink a {
    color: #e5e7eb;
    text-decoration: none;

}

/*header end*/
.section a {
    display: flex;

    flex-direction: column;
    justify-content: center;
    font-size: xxx-large;
    text-decoration: none;
    padding: 10px;
    border: solid;
    color: black;
    border-radius: 10px;
    margin: 10px;
    width: auto;
    padding: 60px;
}


section {
    height: 30vh;
    display: flex;
    justify-content: center;
}

.heotext {
    width: auto;
    display: flex;
    justify-content: center;
}

.a {
    background: #6a6a6a78;
}

.b {
    background: #b9b9b9b3;
}

.c {
    background: #cececeb3;
}

.d {
    background: #dfdfdf66;
}
.heotext p {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

body {

    display: flex;
    flex-direction: column;
}

.headline {
    font-size: 48px;
    font-family: cursive;
}

section .section {
    display: flex;
    justify-content: space-around;


}





/* footer */
footer {
    text-align: center;
    color: white;
    background: #1f2937;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100px;
}