/* font import */

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-light-italic';
    src: url(fonts/Roboto-LightItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-extra-bold';
    src: url(fonts/Roboto-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-thin';
    src: url(fonts/Roboto-Thin.ttf);
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin: 0;
}

/*header*/
header {
    background: #1f2937;
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.headerlogo {
    font-size: 24px;
    color: #f9faf8;
    padding: 8px;
    /*  font-weight: bold; */
    font-family: 'Roboto-extra-bold';
}

.headernav {
    display: flex;
    justify-content: space-between;
    width: 450px;
    font-size: 18px;
    padding-top: 10px;
}

.headerlink a {
    color: #e5e7eb;
    text-decoration: none;

}

/*section one */
h1 {
    /*Hero Primary Text*/
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
    margin: 0;
    font-family: 'Roboto-extra-bold';
}

.section-one {
    background: #1f2937;
    display: flex;
    justify-content: center;
}

.section-one div {
    width: 500px;
}

.intro_img {
    background: #80808059;
    /* padding-top: 85px; */
    text-align: center;


    display: flex;
    flex-direction: column;
    justify-content: center;

}

.intro_img img {

    color: #e5e7eb;
}

.intro_text p {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
}

button {
    /*sign up button*/
    background: #3882f6;
    border: none;
    border-radius: 5px;
    padding: 5px;

    padding-left: 25px;
    padding-right: 25px;
    color: #e5e7eb;
    font-weight: 800;
    margin: 5px;
}

section {
    padding: 75px;
}

/* section two*/
.empty-divs {
    display: flex;
    justify-content: center;
}

.empty-div {
    border: solid;

    height: 145px;
    border-radius: 5px;
    border-color: #3882f6;
    border-width: inherit
}

.random-info-box {
    margin: 15px;
}

.section-two {
    padding: 0;
    text-align: center;
    color: #5b6675;
}

h2 {
    /* section headline*/
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    font-family: 'Roboto-extra-bold';
}

/*section three*/
.section-three {
    background: #e5e7eb;
    margin-top: 50px;
    justify-content: center;
    display: inherit;
}


.quote p {
    /* quote text*/
    font-size: 36px;
    margin: 0;
    font-family: 'roboto-light-italic';
    color: #1f2937;
}

.quote .quoter {
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
    justify-content: flex-end;
    display: flex;
    font-family: 'roboto';
}

/* section four*/
.section-four {
    display: flex;
    justify-content: center;
}

.call-action {
    background: #3882f6;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    width: 1000px;
    justify-content: space-evenly;
    color: white;
    padding: 50px;
    padding-left: 0;
    padding-right: 0;
}

.call-action button {
    border: solid;
    font-family: 'Roboto';
}


.call {
    color: aliceblue;
    font-family: 'Roboto-extra-bold';
    font-size: 18px;
    margin: 0;
}

.call-text {
    font-family: 'Roboto-thin';
    font-weight: bold;
}

.call-action p {
    margin: 0;
}

/* footer*/
footer {
    text-align: center;
    color: white;
    background: #1f2937;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100px;
}