h1 {
    color: #c0c0c0;
}

h2 {
    color: rgb(46, 26, 75);
}

h3 {
    color: blue;
}

h4 {
    color: hsl(130, 28%, 48%);
}

.one h1{
    color: rgb(165, 219, 108);
}

.two h2{
    color: aquamarine;
}

.three h3{
    color: #e40b0b;
}

.four h4{
    color: hsl(304, 86%, 40%);
}