body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #88888814;
}

p {
    color: rgb(84, 148, 121);
    font-size: 18px;

}

img {
    width: 220px;
    height: 300px;
    border: solid;
    border-radius: 20px;
}

img:hover {
    transform: scale(1.1);
    animation-delay: 2s;
}

a {
    background: #80a7ca;
    width: fit-content;
    padding: 10px;
    margin: 3px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    border: solid;
}

a:hover {
    transform: scale(1.1);
    background-color: #88888814;

}

.buttons {
    height: 50px;
    text-align: center;
}

h1 {
    text-align: center;
}

div {
    text-align: center;
}